body{
    background:linear-gradient(#efff94 0%, #94f3ff 100%);
    align-content: center;
    color: #04e2ff;
   }
   #result_object_name,#result_object_accuracy{
   color:yellow;    
   }
   #obj,#accuracy{
   color: aqua;
   }
   #camera{
   border: 2px dashed rgb(0, 195, 255) ;
   width: 350px;
   height:250\;
   }
   #result{
       border:  dashed aqua ;
       width: 352px; 
   }